.slider-box{
    position:relative;
    width:320px;
    height:210px;
    overflow:hidden;
}
.slider{
    position:relative;
    width:10000px;
    height:210px;
}
.slider img{
    float:left;
    width:320px;
    height:210px;
}
.slider-box .prev, .slider-box .next{
    position:absolute;
    top:100px;
    display:block;
    padding: 10px;
    cursor:pointer;
}
.slider-box .prev{
    left:10px;
    background: white no-repeat 0 0;
}
.slider-box .next{
    right:10px;
    background: white no-repeat -29px 0;
}